<footer class="footer mt-auto py-3 row footer-terideal w-200 mt-4">
  <div class="col-md-3 text-right p-4">
    <%= image_tag 'terideal_logo_white.svg', alt: "Terideal Logo", class: "w-50" %>
  </div>
  <div class="col-md-6 text-center p-4">
    <h2 class="text-light">Terideal CV-maker</h2>
  </div>
  <div class="col-md-3 text-right p-4 ">
    <% if user_signed_in? %>
      <%= link_to "Se déconnecter", destroy_user_session_path, data: { confirm: "Confirmer la déconnection ?"}, method: :delete, class: "btn btn-danger round-lg shadow" %>
    <% end %>
  </div>

</footer>

