<%= simple_form_for(@user, url: profil_path, method: 'patch', wrapper: :inline_form, wrapper_mappings: { file: :custom_file }, html: { class: "input-group-append inline_form" }, data: {controller: "toggle-activate"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :photo, as: :file, required: true, input_html: { multiple: false, accept: "image/*", data: {action: "toggle-activate#toggle", }}, class: "align-bottom" %>
  <div class="align-self-end m-3">
    <%= f.button :submit, 'ajouter', disabled: true, data: { target: "toggle-activate.submitButton"}, class: "btn btn-success shadow hidden align-bottom", remote: true %>
  </div>
<% end %>
