<h2 class="mt-5">Liste des salariés</h2>
<%= render 'pages/admin_partials/workers_list', workers: @workers %>
<br>
<h2 class="mt-5">Liste des chantiers</h2>
<%= render 'pages/admin_partials/sites_list', sites: @sites %>
<br>
<h2 class="mt-5">Liste des Rôle</h2>
<%= render 'pages/admin_partials/positions_list', positions: @positions %>
<br>
<h2 class="mt-5">Liste des utilisateurs</h2>
<%= render 'pages/admin_partials/users_list', users: @users %>
