<div class="my-5 py-1">
  <h2 class="mt-5">Liste des entreprises</h2>
  <%= link_to new_company_path, class: "btn btn-primary shadow" do %>
  <%= icon('fas','plus') %> ajouter
  <% end %>
  <%= render 'pages/admin_partials/companies_list', users: @companies %>
</div>
