<div class="my-5 py-1">
  <h2 class="mt-5">Liste des chantiers</h2>
  <%= link_to new_site_path, class: "btn btn-primary shadow" do %>
  <%= icon('fas','plus') %> ajouter
  <% end %>
  <%= render 'pages/admin_partials/sites_list', sites: @sites %>
</div>