<h1>Liste des collaborateurs <%= t 'final_client' %></h1>

 <%= render 'worker_card', workers: @workers %>

<%= link_to 'Nouveau Collaborateur', new_worker_path, class: "btn btn-primary shadow rounded" %>
