.navbar {
  justify-content: space-between;
  background: $red;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 60px;
}

.dropdown-item:hover {
  background-color: $red;
  color: white;
}
