<h1>modifier le chantier de <%= @site.client.name %> - <%= @site.name %></h1>
<div class="card mb-5 p-3">
  <%= render 'site_form', site: @site %>
</div>

<h2>Rapel du chantier : </h2>
<div class="col-6">
TODO render d'une carte de site
</div>
